@charset "UTF-8";

@font-face {
    font-family: 'cordel';
    src: url('fontes/PassionOne-Black.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'texto';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
}

body{
    font-family: 'texto';
    margin: 0px;
}
header{
    background-color: black;
    text-align: center;
    min-width: 150px;
    color: white;
}
header >.titulo{
    font-family: 'cordel';
    margin: 0px;
    padding: 60px;
    font-size: 3.0em;
}
main >.a1{
    padding-top: 40px;
    padding-left: 28px;
    max-width: 258px;
    font-size: 1.9em;
    
}
main >.a2{
    max-width: 258px;
    font-size: 1.9em;
    padding-left: 28px;

}
main >.a3{
    max-width: 258px;
    font-size: 1.9em;
    padding-left: 28px;

}
main >.a4{
    max-width: 258px;
    font-size: 1.9em;
    padding-left: 28px;

}
main >.a5{
    max-width: 258px;
    font-size: 1.9em;
    padding-left: 28px;
    
}